html,
body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Main */

#main-container {
  background: linear-gradient(#000000, #292929);
  height: 100vh;
}

#logo-splash-container {
  height: 22%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.logo-splash {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: dash 3.5s linear 0s alternate 2;
  opacity: 0;
  margin: 5px;
}

@keyframes dash {
  from {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

/* Navbar */

#navbar {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 10;
  height: 70px;
  padding: 2.5em 5em;
  animation: visible 1s linear;
}

#navbar > .logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.menu-button {
  margin-top: 5px;
  margin-left: auto;
  display: flex;
  color: #cecece;
  cursor: pointer;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  z-index: 10;
  width: 27.55px;
  height: 19.77px;
}

.menu-button:focus {
  outline: none;
}

.links {
  list-style: none;
}

#navbar > .links {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  color: #e5e5e5;
  font-size: 16px;
  padding-top: 5px;
  margin-top: 8px;
  margin-left: auto;
}

#navbar > .links > li {
  margin: 0px 30px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
}

#navbar > .links > li:hover {
  border-bottom: 2px solid #fff;
  animation: underline 0.5s ease forwards;
  color: #fff;
}

@keyframes visible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes underline {
  from {
    border-bottom: 2px solid transparent;
  }

  to {
    border-bottom: 2px solid #e5e5e5;
    opacity: 1;
  }
}

/* About */

#about {
  color: #e5e5e5;
  margin: 8em auto;
  padding: 0em 5em;
}

h2 {
  margin: 0px;
  font-size: clamp(20px, 8vw, 45px);
  margin-bottom: 15px;
  color: #fff;
}

h3 {
  margin: 0px;
  font-size: clamp(0px, 6vw, 30px);
  opacity: 0.6;
  font-weight: 400;
  margin-bottom: 15px;
}

#interests {
  height: 175px;
}

span {
  font-size: clamp(0px, 6vw, 30px);
  opacity: 0.6;
  font-weight: 400;
  color: #fff !important;
}

.Typist .Cursor {
  display: inline-block;
  animation: blink 1s linear infinite;
  opacity: 1;
  width: 25px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  display: inline-block;
  line-height: 40px;
  padding: 7px 42px;
  background: #e5e5e5;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.15s ease;
  cursor: pointer;
  border-radius: 3px;
  font-size: clamp(10px, 7vw, 16px);
  box-shadow: rgb(0 0 0 / 63%) 0px 2px 8px, #292929 0px 0px 0px 1px;
  color: #292929;
  margin: 0px 25px 25px 0px;
  text-align: center;
  margin-bottom: 25px;
}

.button:hover {
  transform: translate(0px, -2px);
}

#resume-button {
  background-color: #151515;
  color: #e5e5e5;
}

#contact-button:hover {
  background-color: #ffffff;
}

#resume-button:hover {
  background-color: #181818;
}

@media only screen and (max-width: 600px) {
  #navbar {
    padding: 2.5em 2em;
  }

  #about {
    margin-top: 3em;
    padding: 1.5em 2em 2em 2em;
  }

  #contact-button {
    background-color: #ffffff;
  }

  #resume-button {
    background-color: #181818;
  }
}

@media only screen and (max-width: 450px) {
  .button {
    width: 100%;
    padding: 2px 42px;
  }

  #resume-button {
    border-radius: 0px;
  }

  span {
    line-height: 30px;
  }
}

@media only screen and (max-height: 640px) {
  #interests {
    height: 110px;
  }
}
