html,
body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Main */

#main-container {
  background: linear-gradient(#000000, #292929);
  height: 100vh;
}

#logo-splash-container {
  height: 22%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.logo-splash {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: dash 3.5s linear 0s alternate 2;
  opacity: 0;
  margin: 5px;
}

@keyframes dash {
  from {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

/* Navbar */

#navbar {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 10;
  height: 70px;
  padding: 2em 4em;
  animation: visible 1s linear;
}

#navbar > .logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.menu-button {
  margin-top: 5px;
  margin-left: auto;
  display: flex;
  color: #cecece;
  cursor: pointer;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  z-index: 10;
  width: 27.55px;
  height: 19.77px;
}

.menu-button:focus {
  outline: none;
}

.links {
  list-style: none;
}

#navbar > .links {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  font-size: 17px;
  padding-top: 5px;
  margin-top: 8px;
  margin-left: auto;
}

#navbar > .links > li {
  margin: 0px 30px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
}

#navbar > .links > li:hover {
  border-bottom: 2px solid #fff;
  animation: underline 0.5s ease forwards;
}

@keyframes visible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes underline {
  from {
    border-bottom: 2px solid transparent;
  }

  to {
    border-bottom: 2px solid #fff;
    opacity: 1;
  }
}

/* About */

#about {
  color: #fff;
  margin: 8em auto;
  padding: 0em 5em;
}

h2 {
  margin: 0px;
  font-size: clamp(20px, 8vw, 50px);
  margin-bottom: 15px;
}

h3 {
  margin: 0px;
  font-size: clamp(0px, 6vw, 35px);
  opacity: 0.6;
  font-weight: 400;
  margin-bottom: 15px;
}

#interests {
  height: 145px;
}

span {
  font-size: clamp(0px, 6vw, 35px);
  opacity: 0.6;
  font-weight: 400;
}

.Typist .Cursor {
  display: inline-block;
  animation: blink 1s linear infinite;
  opacity: 1;
  width: 25px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#contact-btn {
  font-size: 17px;
  padding: 0.95rem 1.75rem;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-size: clamp(14px, 7vw, 17px);
}

#contact-btn:hover {
  animation: hover 0.5s ease forwards;
}

@keyframes hover {
  from {
    color: #fff;
    background-color: transparent;
  }

  to {
    color: #000;
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  #about {
    margin-top: 5.5em;
  }

  #navbar,
  #about {
    padding: 2em;
  }

  #interests {
    height: 135px;
  }
}

@media only screen and (max-width: 400px) {
  span {
    line-height: 30px;
  }
}
